### Data Analyst Python Interview Questions

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

**Sample Technical Questions:**
   - **SQL:** Write a query to find the top 5 customers by total sales.
   - **Python:** Write a function to calculate the moving average of a list of numbers.
   - **Data Analysis:** Given a dataset, describe how you would clean and analyze the data to find insights.

### 1. Basic Python
#### Q1: Write a function that checks if a given string is a palindrome.

In [ ]:
def check_pal(str):
    str = str.lower().replace(" ", "")
    return str == str[::-1]

a = "racecar"
b = "hello"
b = "The eht"
print(check_pal(a))
print(check_pal(b))

#### Q2: Given a list of numbers, return a new list containing only the even numbers.

In [ ]:
def is_even(list):
    return [x for x in list if x % 2 == 0]

A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(is_even(A))

### Q3: Swap two variables without using a third variable.

In [ ]:
a = "ciao"
b = "bello"
a,b = b,a
print(a,b)

## 2. Data Structures
### Q4: Given a list of integers, find the two numbers that add up to a given target.

In [ ]:
def add_target(list,target):
    for i in range(len(list)):
        for j in range(len(list-i)):
            if list[i] + list[j] == target:
                return [i,j]
    return None

a = [1,2,3,4,5,6,7,8,9]
target = 10
add_target(a,target)


### Q5: Count the occurrences of each character in a given string using a dictionary.

In [ ]:
dic = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
def occurence(s):

###### Q6: Remove duplicates from a list while maintaining order.
#####
###### 3. Pandas & NumPy
###### Q7: Load a CSV file into a Pandas DataFrame and display the first five rows.
#####
###### Q8: Given a DataFrame with missing values, fill them with the column mean.
#####
###### Q9: Write a function to normalize a NumPy array between 0 and 1.
#####
###### 4. SQL-like operations with Pandas
###### Q10: Given a DataFrame `df`, select rows where the column `sales` is greater than 1000.
#####
###### Q11: Perform an inner join between two DataFrames on a common column.
#####
###### Q12: Group a DataFrame by a column and calculate the sum of another column.
#####
###### 5. Data Visualization
###### Q13: Plot a histogram of a given numerical column using Matplotlib.
#####
###### Q14: Create a scatter plot using Seaborn for two numerical columns.
#####
###### Q15: Generate a box plot to visualize the distribution of a numerical column.
#####
###### 6. Algorithms & Problem-Solving
###### Q16: Implement a function to find the factorial of a number using recursion.
#####
###### Q17: Reverse a linked list (assuming a linked list class is defined).
#####
###### Q18: Write a function that sorts a list using the quicksort algorithm.
#####

## 7. Bonus Questions

#### Q19: Write a Python script to scrape the title and price of products from an e-commerce webpage.

#### Q20: Implement a simple Flask API that returns JSON data.